/* font */

@font-face {
  font-family: "NewEleganceCondltaFont";
  src: url("/font/TheNewElegance-CondIta.otf") format("opentype");
}

@font-face {
  font-family: "NewEleganceCondensedFont";
  src: url("/font/TheNewElegance-Condensed.otf") format("opentype");
}

@font-face {
  font-family: "DemoRegularFont";
  src: url("/font/Demo-Regular.otf") format("opentype");
}

:root {
  font-size: 62.5%;
  scroll-behavior: smooth;

  /* color */
  --blackColor: black;
  --whiteColor: white;
  --lightWhiteColor: rgb(220, 220, 220);
  --blackShadow: rgb(0, 0, 0, 0.4) 0px 0px 20px;

  /* font family */

  --poppinsFont: "Poppins", sans-serif;
  --montserratFont: "Montserrat", sans-serif;
  --newEleganceCondltaFont: "NewEleganceCondltaFont";
  --newEleganceCondensed: "NewEleganceCondensedFont";
  --demoRegularFont: "DemoRegularFont";

  /* font size */

  --logoFontSize: calc(0.9rem + 1vw);
  --navbarFontSize: calc(0.5rem + 1vw);
}

/* default setting */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/* navbar ------------------------------------------------------------------- */

nav {
  padding-left: 12%;
}

.logo-hyperlink {
  width: 35%;
}

.logo-hyperlink img {
  transform: scale(200%);
}

/* burger menu */

.burger-hyperlink {
  transform: scale(100%);
}

.menu-navbar-hyperlink li {
  padding: 2.5rem 7rem 2.5rem 4.5rem;
}

.menu-navbar-hyperlink li a {
  font-size: calc(1rem + 0.5vw);
}

.navbar-open {
  transform: translate(-90%);
}

/* title */

.galery-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.title-gallery {
  font-size: calc(3rem + 1vw);
  width: 60%;
}
