:root {
  overflow-x: hidden;

  /* color */
  --blackColor: black;
  --whiteColor: white;
  --lightWhiteColor: rgb(220, 220, 220);
  --blackShadow: rgb(0, 0, 0, 0.4) 0px 0px 20px;

  /* font family */

  --poppinsFont: "Poppins", sans-serif;
  --montserratFont: "Montserrat", sans-serif;
  --newEleganceCondltaFont: "NewEleganceCondltaFont";
  --newEleganceCondensed: "NewEleganceCondensedFont";
  --demoRegularFont: "DemoRegularFont";

  /* font size */

  --logoFontSize: calc(0.9rem + 1vw);
  --navbarFontSize: calc(0.5rem + 1vw);
}

/* navbar ------------------------------------------------------------------- */

/* burger menu */

.burger {
  transform: scale(100%);
}

.menu-navbar li a {
  font-size: calc(3rem + 1vw);
}

/* home sections ---------------------------------------------  */

.cta-home1,
.cta-home2,
.cta-home3 {
  font-size: calc(3rem + 1vw);
}

.sub-title {
  flex-direction: column;
}

.cta-button {
  margin-top: 10%;
}

.cta-button a {
  font-size: calc(0.8rem + 1vw);
}

/* about sections ---------------------------------------------  */

#about {
  min-height: 35vh;
}

.quotes1 p,
.quotes2 p,
.quotes3 p {
  font-size: calc(0.4rem + 1vw);
  text-align: center;
}

.cta1,
.cta2,
.cta3 {
  font-size: calc(0.5rem + 1vw);
  text-align: center;
}

/* kategori sections ---------------------------------------------  */

.cta1-title1,
.cta2-title2 {
  font-size: calc(2rem + 1vw);
}

.sub-title1 {
  font-size: calc(0.5rem + 1vw);
}

.galery-kategori {
  height: 50vh;
  padding: 0 2rem;
}

.description1 h1,
.description2 h1,
.description3 h1 {
  font-size: calc(0.6rem + 1vw);
}

/* penutup sections ---------------------------------------------  */

.penutup-container {
  padding: 40% 0;
}

.title-penutup h2 {
  font-size: calc(4rem + 0.5vw);
}

.sub-penutup {
  font-size: calc(0.5rem + 1vw);
}
